/**
 * CSS for basic HTML elements.
 */

/* Headings */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h6 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Paragraphs */
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  /* Lists */
  ul, ol {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  li {
    margin-left: 1.5rem;
  }
  
  /* Links */
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /*Menu navigation*/
    .menu {
        display: flex;
        display: inline;
        justify-content: space-between;
        align-items: center;
        background-color: #810643;
        color: #fff;
        padding: 1rem;
    }