# ignore everything in the root except the drupalg.sg-host.com\public_html\modules\custom folder and drupalg.sg-host.com\public_html\themes\custom folder
# this is where you will put your custom modules and themes
# you can add more folders here if you want to
# you can also remove the \custom part if you want to include all modules and themes

*
!.gitignore
! public_html\modules\custom
! public_html\themes\custom
